%extend_1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

%extend_2 {
	display: block;
	height: 0;
	visibility: hidden;
}


* {
	box-sizing: border-box;
}
html {
	@extend %extend_1;
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	@extend %extend_1;
	min-height: 100%;
}
div {
	@extend %extend_1;
}
span {
	@extend %extend_1;
}
object {
	@extend %extend_1;
}
iframe {
	@extend %extend_1;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
p {
	@extend %extend_1;
}
blockquote {
	@extend %extend_1;
}
pre {
	@extend %extend_1;
}
abbr {
	@extend %extend_1;
}
address {
	@extend %extend_1;
}
cite {
	@extend %extend_1;
}
code {
	@extend %extend_1;
}
del {
	@extend %extend_1;
}
dfn {
	@extend %extend_1;
}
em {
	@extend %extend_1;
}
img {
	@extend %extend_1;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	border: 0;
}
ins {
	@extend %extend_1;
}
kbd {
	@extend %extend_1;
}
q {
	@extend %extend_1;
}
samp {
	@extend %extend_1;
}
small {
	@extend %extend_1;
}
strong {
	@extend %extend_1;
}
sub {
	@extend %extend_1;
}
sup {
	@extend %extend_1;
}
var {
	@extend %extend_1;
}
b {
	@extend %extend_1;
}
i {
	@extend %extend_1;
}
dl {
	@extend %extend_1;
}
dt {
	@extend %extend_1;
}
dd {
	@extend %extend_1;
}
ol {
	@extend %extend_1;
}
ul {
	@extend %extend_1;
}
li {
	@extend %extend_1;
}
fieldset {
	@extend %extend_1;
}
form {
	@extend %extend_1;
}
label {
	@extend %extend_1;
}
legend {
	@extend %extend_1;
}
caption {
	@extend %extend_1;
}
article {
	@extend %extend_1;
	display: block;
}
aside {
	@extend %extend_1;
	display: block;
}
canvas {
	@extend %extend_1;
}
details {
	@extend %extend_1;
	display: block;
}
figcaption {
	@extend %extend_1;
	display: block;
}
figure {
	@extend %extend_1;
	display: block;
}
footer {
	@extend %extend_1;
	display: block;
}
header {
	@extend %extend_1;
	display: block;
}
hgroup {
	@extend %extend_1;
	display: block;
}
menu {
	@extend %extend_1;
}
nav {
	@extend %extend_1;
	display: block;
}
section {
	@extend %extend_1;
	display: block;
}
summary {
	@extend %extend_1;
}
time {
	@extend %extend_1;
}
mark {
	@extend %extend_1;
}
audio {
	@extend %extend_1;
}
video {
	@extend %extend_1;
}
.clearfix {
	clear: both;
	zoom: 1;
	&:before {
		@extend %extend_2;
	}
	&:after {
		@extend %extend_2;
		clear: both;
	}
}